/* @font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf) format('opentype');
} */

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
}

a, button {
  cursor: pointer;
}

#left-pane {
  max-width: 40%;
  position: relative;
}

#heading-container {
  padding: 0.7em 1em;
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  top: 2%;
  background-color: rgba(0,0,0,0.3);
}

#logo {
  opacity: 0.4;
  width: 10%;
  padding: 0;
  margin: 0;
  margin-right: 0.5em;
}

#heading-container a {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: max(1.5rem, 2.5vw);
  color: white;
  opacity: 0.7;
  text-align: center;
  /* font-family: Norse-Bold; */
}

img {
  max-width: 100%;
}

.credit {
  position: absolute;
  margin: 0 auto;
  left: 20%;
  right: 20%;
  bottom: 2%;

  padding: 0.2em 0.4em;

  text-align: center;
  
  border-radius: 0.3em;
  background-color: rgba(0,0,0,0.6);
  color: rgb(255,255,255,0.8);
}

#credit {
  font-size: min(0.8rem,2vw);
  margin: 0;
}

#credit a {
  font-weight: bold;
}

#credit a:link, #credit a:visited {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

#credit a:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgb(255,255,255,0.9);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#credit a:active {
  background-color: rgba(0,0,0,0.9);
  color: rgb(255,255,255,1);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}



#right-pane {
  padding: 5% 5%;
}

.call-to-action {
  font-weight: bold;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 0.3em;
  width: 30ch;
  padding: 0.4em;
  margin: 0;
}

input::placeholder {
  font-style: italic;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid red;
}

input:not(:focus):not(:placeholder-shown):valid {
  border: 1px solid green;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;
}

li {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 0.5em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 0.8rem;

  list-style: none;
}

li label {
  padding: 0;
  margin: 0;
  width: 21ch;
}

span[aria-label="required"] {
  color: red;
}

label[for$="password"] {
  position: relative;
}

label[for$="password"]:hover::after {
  content: "Password must contain at least 8 characters, including 1 or more uppercase letters, 1 or more lowercase letters, 2 or more numbers, and 1 or more special character !@#$%^&*()";
  position: absolute;
  top: 1em;
  z-index: 1;

  padding: 0.2em 0.4em;
  width: 25ch;

  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  
  font-size: 0.7rem;
  font-style: italic;
}

.submit {
  display: flex;
}

button {
  margin: auto;
  left: 0;
  right: 0;
  padding: 0.8em 1.2em;
  background-color: #bbb;
  color: black;
  border: 2px solid #999;
  border-radius: 0.3em;
  font-weight: bold;
  transition: background-color 0.15s, color 0.15s;
  box-sizing: border-box;
  box-shadow: 0.1em 0.1em 0.2em #999;
}

button:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

button:active {
  background-color: rgba(0,0,0,0.9);
  padding: calc(0.8em - 1px) calc(1.2em - 1px);
  border: 3px solid black;
  color: white;
}

.existing-account-container {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}